@model IEnumerable<WebAppParcial1.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos Favoritos</h1> 

<p>
    <a asp-area="" asp-controller="Productos" asp-action="Index" class="btn btn-primary">Registro de Productos</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                Categoría
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
            if (item.Favorito == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.categoria.Id)
                    </td>
                </tr>
            }
}
    </tbody>
</table>
